###### Requirements without Version Specifiers ######
gapminder
japanize-matplotlib
jupyter-book
# lmdiag
matplotlib
# numba
numpy < 2.0
pandas
py4macro
# py4etrics
scipy
see
sphinx-reredirects
sphinx-sitemap
statsmodels
# wooldridge

###### Requirements with Version Specifiers ######
