###### Requirements without Version Specifiers ######
gapminder
japanize-matplotlib
jupyter-book
# lmdiag
matplotlib
# numba
numpy
pandas
py4macro
# py4etrics
scipy
see
statsmodels
# wooldridge

###### Requirements with Version Specifiers ######
